@model wacdoprojet.Models.Poste

@{
    ViewData["Title"] = "Suppression poste";
}

<h1>Suppression poste</h1>

<h3>Etes vous certain de  vouloir effectuer cette suppression ?</h3>
<div>
    <h4>Poste</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Intituleposte)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Intituleposte)
        </dd>
    </dl>
    @if (TempData["ErreurSuppression"] != null)
    {
        <div class="alert alert-warning">
            @TempData["ErreurSuppression"]
        </div>

        
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>Restaurant</th>
                    <th>Intitulé du poste</th>
                    <th>Date de début </th>
                    <th>Date de fin</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var aff in Model.Posteaffectation)
                {


                    <tr>

                        <td>@aff.Collaborateur?.Nom</td>
                        <td>@aff.Collaborateur?.Prénom</td>

                        <td>@aff.Restaurant?.name</td>

                        <td>@aff.Poste?.Intituleposte</td>
                        <td>@aff.Datedebut</td>
                        <td>@aff.Datefin</td>
                    </tr>

                }
            </tbody>
        </table>


    }

    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Supprimer" class="btn btn-danger" /> 
        <p></p>
        <a asp-action="Index">Retour à la liste</a>
        </p>
    </form>
</div>
