@model List<wacdoprojet.ViewModels.UserWithRoleViewModel>

<form asp-action="UpdateRole" method="post">
    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Rôle actuel</th>
                <th>Changer de rôle</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.Count; i++)
            {
                <tr>
                    <td>@Model[i].UserName</td>
                    <td>@Model[i].RoleName</td>
                    <td>
                        <select asp-for="@Model[i].SelectedRoleId" asp-items="@(new SelectList(Model[i].AvailableRoles, "Id", "Name"))" name="updatedRoles[@Model[i].UserId]">
                        </select>
                    </td>
                    <td>
                        <button type="submit" name="userId" value="@Model[i].UserId">Mettre à jour</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</form>
