@model wacdoprojet.Models.Affectation

@{
    ViewData["Title"] = "Détails Affectations";
}

<h1>Détails</h1>

<div>
    <h4>Affectation</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Collaborateur
        </dt>
        <dd class="col-sm-10">
            @Model.Collaborateur?.Nom @Model.Collaborateur?.Prénom
        </dd>
        <dt class="col-sm-2">
            Restaurant
        </dt>
        <dd class="col-sm-10">
            @Model.Restaurant?.name 
        </dd>
        <dt class="col-sm-2">
            Poste
        </dt>
        <dd class="col-sm-10">
            @Model.Poste?.Intituleposte 
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Datedebut)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Datedebut)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Datefin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Datefin)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-warning btn-sm">Modifier</a> |
    <a asp-action="Index">Retour à la liste</a>
</div>
